body
{
	background-color: #FDFEFF;
	color: #1F1F1F;
	font-family: "Trebuchet MS", Trebuchet, Arial, sans;
	font-size: 86%;
	margin-right: 8px;
}
a
{
	text-decoration: none;
	border-bottom: 1px dotted;
	color: #205020;
}
a.Sort
{
	text-decoration: none;
	border: none;
}
a:hover
{
	color: #9F9F9F;
}
table
{
	width: 100%;
}
td, th
{
	text-align: left;
	padding-top: 2px;
	padding-bottom: 2px;
	border-bottom: 1px dotted;
	border-right: 1px dotted;
}
.Icon
{
	width: 20px;
}
.Size
{
	width: 96px;
}
.Type
{
	width: 160px;
}
.Time
{
	width: 160px;
}
.List
{
	margin-left: 32px;
}
.Title, .TitleMain
{
	margin-top: 32px;
	
	padding-top: 8px;
	padding-left: 8px;
	
	letter-spacing: 3px;
	font-size: large;
	
	border-top: 2px solid #DFDFDF;
	border-left: 2px solid #DFDFDF;
}
.TitleMain
{
	letter-spacing: 2px;
	font-size: x-large;
	margin-top: 8px;
}
.Footer
{
	margin-top: 32px;
	
	padding-top: 8px;
	padding-left: 8px;
	
	letter-spacing: 3px;
	font-size: small;
	font-style: italic;
	
	border-top: 2px solid #DFDFDF;
	border-left: 2px solid #DFDFDF;
}