<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Serenity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
	</startup>
	<applicationSettings>
		<Serenity.Properties.Settings>
			<setting name="DatabaseHost" serializeAs="String">
				<value>127.0.0.1</value>
			</setting>
			<setting name="DatabasePort" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="DatabaseProvider" serializeAs="String">
				<value>pgsql</value>
			</setting>
			<setting name="DatabaseUser" serializeAs="String">
				<value>serenity</value>
			</setting>
			<setting name="DatabasePassword" serializeAs="String">
				<value>serenity</value>
			</setting>
			<setting name="DatabaseSchema" serializeAs="String">
				<value>serenity</value>
			</setting>
			<setting name="ServerUseCaseSensitiveURIs" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NetworkConnectionBacklog" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="NetworkPort" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="NetworkHostBinding" serializeAs="String">
				<value>127.0.0.1</value>
			</setting>
			<setting name="NetworkUseIPv6" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="NetworkUseIPv4" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="NetworkMaxReceiveRateTotal" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="NetworkMaxSendRateTotal" serializeAs="String">
				<value>-1</value>
			</setting>
			<setting name="NetworkReceiveTimeout" serializeAs="String">
				<value>30000</value>
			</setting>
		</Serenity.Properties.Settings>
	</applicationSettings>
</configuration>
